#event_container {
  width: 100%;
  margin: auto;
}

.blog-section {
  display: flex;
  justify-content: start;
  max-width: 100rem;
  height: 32rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  grid-area: blog-section;
}

.left-part {
  flex: 1;
  box-sizing: border-box;
  grid-area: left-part;
}
#blg_hdr {
  width: 100%;
  color: #1a6eff;
  grid-area: blg_hdr;
}
.blog-title-1 {
  color: #1a6eff;
  font-family: Bebas Neue;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.blog-title-2 {
  font-family: Bebas Neue;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.blog-content {
  width: 100%;
  max-width: 450px;
  color: #000;
  /* Paragraph */
  font-family: Nunito;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-area: blog-content;
}

.right-part {
  width: 300px;
  display: grid;
  grid-template-areas: 'circle1 circle2 circle3';
  justify-items: center;
  grid-area: right-part;
  padding-block: 2rem;
}

.circle1,
.circle2,
.circle3 {
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: #1a6eff;
  border-radius: 50%;
}
.circle1 {
  grid-area: circle1;
}
.circle2 {
  grid-area: circle2;
}
.circle3 {
  grid-area: circle3;
}
.number,
.word {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.word {
  font-size: 1.2rem;
  position: absolute;
  top: calc(62% + 30px); /* "Months" word er position er jonno*/
  left: 50%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-top: 0.5rem;
}

.buttons {
  font-family: 'Bebas Neue', sans-serif;
  font-size: large;
  grid-area: buttons;
}

.register-button {
  height: 2.5rem;
  width: 9rem;
  padding: 2px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
  font-size: x-large;
  grid-area: register-button;
}

.learn-more-button {
  height: 2.5rem;
  width: 9rem;
  padding: 2px;
  background-color: white;
  color: black;
  border-color: black;
  border-width: 3.8px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
  font-size: x-large;
  grid-area: learn-more-button;
}

.register-button:hover {
  background-color: #333538;
}

.learn-more-button:hover {
  background-color: #333538;
  border-color: #333538;
  color: #fff;
}

.custom-button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  padding: 12px 30px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #efeeee;
  color: #1a6eff;
  transition: all 0.5s ease;
  margin: 40px;
}
.custom-button:hover,
.clk_efct {
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clk_efct {
  text-decoration: underline;
}

.all {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  color: #1a6eff;
}

@media only screen and (max-width: 445px) {
  #event_container {
    width: 85vw;
    text-align: start;
    display: grid;
    grid-template-areas: 'blog-section blog-section blog-section blog-section';
  }
  .upcoming-events p {
    font-size: 3rem;
  }
  .upcoming-events span {
    font-size: 3rem;
  }
  .blog-section {
    width: 100%;
    height: auto;
    display: grid;
    align-content: start;
    justify-content: start;
    grid-template-areas:
      'right-part right-part'
      'left-part left-part'
      'buttons buttons';
  }
  .left-part {
    padding: 0rem;
    grid-area: left-part;
    align-items: start;
    display: grid;
    grid-template-areas:
      'blg_hdr blg_hdr'
      'blog-content blog-content'
      'buttons buttons';
    gap: 1rem;
  }
  #blg_hdr {
    font-size: 2.5rem;
  }
  .blog-title-1 {
    font-size: 2.5rem;
  }
  .blog-title-2 {
    font-size: 2.5rem;
  }
  .blog-content {
    font-size: 1.1rem;
    width: 100%;
  }
  .right-part {
    width: 4rem;
    display: grid;
    align-self: right;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .circle1,
  .circle2,
  .circle3 {
    width: 3.5rem;
    height: 3.5rem;
  }
  .number {
    font-size: 1.35rem;
  }
  .word {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
  .buttons {
    width: 100%;
  }
  .register-button {
    font-size: 1.2rem;
    width: 11rem;
  }
  .learn-more-button {
    font-size: 1.2rem;
    width: 11rem;
  }
}

@media only screen and (min-width: 445px) and (max-width: 767px) {
  #event_container {
    text-align: start;
    display: grid;
    grid-template-areas: 'blog-section blog-section blog-section blog-section';
  }
  .upcoming-events {
    margin-top: 4rem;
    width: 18rem;
    height: 3rem;
  }
  .upcoming-events p {
    font-size: 3.2rem;
  }
  .upcoming-events span {
    font-size: 3.2rem;
  }
  .blog-section {
    display: grid;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    grid-area: blog-section;
    justify-content: start;
    grid-template-areas:
      'right-part right-part'
      'left-part left-part'
      'buttons buttons';
  }
  .left-part {
    grid-area: left-part;
    align-items: start;
    display: grid;
    grid-template-areas:
      'blg_hdr blg_hdr'
      'blog-content blog-content'
      'buttons buttons';
    gap: 1rem;
  }
  .blog-title-1 {
    font-size: 2.5rem;
  }
  .blog-title-2 {
    font-size: 2.5rem;
  }
  .blog-content {
    width: 100%;
    font-size: 1.4rem;
  }
  .circle1,
  .circle2,
  .circle3 {
    width: 3.75rem;
    height: 3.75rem;
  }
  .number {
    font-size: 1.35rem;
  }
  .word {
    font-size: 1.1rem;
    margin-top: 0.25rem;
  }
  .right-part {
    width: 5rem;
    display: grid;
    grid-template-areas: 'circle1 circle2 circle3';
    gap: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  #event_container {
    align-content: center;
    display: grid;
    grid-template-areas: 'blog-section blog-section blog-section blog-section';
  }
  .left-part {
    justify-content: center;
    display: flex;
    flex-direction: column;
    grid-template-areas:
      'blg_hdr blg_hdr'
      'blog-content blog-content'
      'buttons buttons';
    gap: 2rem;
  }
  .right-part {
    margin-right: 1rem;
  }
}
