@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Share+Tech+Mono&display=swap');
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

<<<<<<< HEAD
.card {
  width: 22.50588rem;
  height: 24.72719rem;
  flex-shrink: 0;
  border-radius: 1.16913rem;
  background: #fff;
  box-shadow: -11.96668px -9.57335px 37.09673px 0px rgba(255, 255, 255, 0.25),
    8.37668px 11.96668px 37.09673px 0px rgba(0, 0, 0, 0.25);
  margin: 0.5rem;
}
.card_banner {
  width: 22.62275rem;
  height: 11.86669rem;
  border-radius: 1.16913rem 1.16913rem 0rem 0rem;
  object-fit: cover;
}
.card p {
  width: 20.05069rem;
  color: #000;
  font-size: 0.93531rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}
.card h4 {
  color: #000;
  font-size: 1.87063rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1rem 5rem 1rem 5rem;
  text-align: center;
}

.learn_more {
  width: 6.4365rem;
  height: 2.108rem;
  flex-shrink: 0;
  border-radius: 0.268rem;
  background: #1a6eff;
  margin: 1.8rem 8.4rem 1.8rem 8.4rem;
=======
h1,
h3 {
  font-family: Bebas Neue;
}
p {
  font-family: nunito;
}
.grid-design {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 2rem;
}

.date-picker img {
  display: none;
}
@media (max-width: 820px) {
  .date-picker {
    @apply overflow-hidden flex flex-col bg-white w-full rounded-xl mb-10 transition-all  h-[48px] z-10 shadow-lg;
  }
  .date-picker > .active-elem img {
    display: block;
  }
  .date-picker > .list {
    @apply order-2;
  }
  .open {
    @apply h-[240px];
  }

  .date-picker > .active-elem {
    @apply order-1;
  }
}
@media (min-width: 820px) {
  .date-picker {
    @apply flex h-[20vw] flex-col text-xl gap-5;
  }
>>>>>>> 475bad76757305b76157ca27dac58d3c329748d3
}
