@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:regular');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono:regular');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
  font-family: Nunito;
}
.Inter {
  font-family: Inter;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* Hide scrollbar for Chrome, Safari and Opera */
/* *::-webkit-scrollbar {
  display: none;
} */
body::-webkit-scrollbar,
.snap-scroller::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
}

.container {
  @apply max-w-[90vw] xl:max-w-[85vw] 2xl:max-w-[75vw] mx-auto;
}
.container-md {
  @apply max-w-[90vw];
}
.container-padding {
  @apply px-[5vw] md:pl-[5vw] xl:pl-[5vw] 2xl:pl-[12.5vw] md:pr-0;
}
.markdown ul li::before {
  content: '- ';
}
.card {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 1.16913rem;
  background: #fff;
  box-shadow: -11.96668px -9.57335px 37.09673px 0px rgba(255, 255, 255, 0.25),
    8.37668px 11.96668px 37.09673px 0px rgba(168, 168, 168, 0.25);
}
.card_banner {
  width: 100%;
  height: 11.86669rem;
  border-radius: 1.16913rem 1.16913rem 0rem 0rem;
  object-fit: cover;
}
.card p {
  width: 100%;
  color: #000;
  font-size: 0.93531rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: nunito;
}

.learn_more {
  border-radius: 0.268rem;
  background: #1a6eff;
  font-family: Bebas Neue;
  padding: 0.25rem 1rem;
  margin-bottom: 1.5rem;
}
.learn_more:hover {
  background: #0754da;
}
h1,
h2,
h3,
h4 {
  font-family: Bebas Neue;
}
p {
  font-family: nunito;
}

.Bebas {
  font-family: Bebas Neue;
}
.snap-scroller {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  overflow-x: scroll;
  justify-content: start;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
}
.snap-scroller > * {
  scroll-snap-align: start;
}
.session-selector img {
  display: none;
}
@media (max-width: 765px) {
  .session-selector {
    @apply overflow-hidden flex flex-col bg-white w-full rounded-xl mb-10 transition-all  h-[48px] z-10 shadow-lg;
  }
  .session-selector > .active-elem img {
    display: block;
  }
  .session-selector > .session-list-item {
    @apply order-2;
  }
  .open {
    @apply h-[240px];
  }

  .session-selector > .active-elem {
    @apply order-1;
  }
}
@media (min-width: 768px) {
  .session-selector {
    @apply flex h-[20vw] flex-col text-xl gap-5;
  }
}

/*----------------------------------*/

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

/*----------------------------------------*/

.too-big-actually {
  transform-origin: 9.5px 9.5px;
}

.bell-whole {
  animation: ring 2.1s linear infinite;
  transform-origin: 9.5px 2.4781px;
}

.bell-part {
  fill: currentColor;
}

.bell-part--ringer {
  animation: ding 2.1s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(30deg);
  }

  25% {
    transform: rotate(-25deg);
  }

  37.5% {
    transform: rotate(20deg);
  }

  51.5% {
    transform: rotate(-10deg);
  }

  66.5% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes ding {
  0% {
    transform: translateX(0);
  }

  12% {
    transform: translateX(4px);
  }

  15% {
    transform: translateX(4px);
  }

  23% {
    transform: translateX(-4px);
  }

  25% {
    transform: translateX(-4px);
  }

  35.5% {
    transform: translateX(4px);
  }

  37.5% {
    transform: translateX(4px);
  }

  54.5% {
    transform: translateX(-3px);
  }

  71.5% {
    transform: translateX(2px);
  }

  90% {
    transform: translateX(-1px);
  }

  110% {
    transform: translateX(0);
  }
}
